* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 150px;
  padding: 40px 0px;
}

/* header and navigation style */
header {
  background: #fff8f3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
.nav-title {
  font-weight: 800;
  font-size: 48px;
}

.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  background: #fd6e0a;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border: 0;
  padding: 15px 30px;
}

nav ul {
  display: flex;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 50px;
}

/* banner styles */

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 40px 0px 150px;
}

.banner-title {
  color: #181818;
  font-weight: 700;
  font-size: 70px;
}

.banner-sub-title {
  color: #474747;
  font-weight: 600;
  font-size: 40px;
}

.banner-description {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
}

/* main section */
main {
  max-width: 980px;
  margin: 0 auto;
}

/* about style */
.about {
  margin: 130px 0px;
  background: #fff8f3;
  border-radius: 10px;
  padding: 100px 100px;
  text-align: center;
}

.section-title {
  color: #181818;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}

.section-description {
  color: #757575;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 35px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.info-title {
  color: #757575;
  font-weight: 400;
  font-size: 19px;
}

.info-description {
  color: #474747;
  font-weight: 700;
  font-size: 19px;
}

/* what-i-do section */

.what-i-do {
  padding: 0px 0px;
  text-align: center;
  margin-bottom: 130px;
}

.what-i-do .section-description {
  padding: 15px 70px;
  line-height: 28px;
}

.skills-container {
  display: flex;
  gap: 24px;
  text-align: start;
}

.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}

.skill-title {
  color: #181818;
  font-weight: 700;
  font-size: 20px;
  margin: 20px 0px;
}

.skill-description {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
}

/* resume section */

.resume {
  margin-bottom: 130px;
}

.resume .section-title {
  margin-bottom: 100px;
}

.resume-content {
  display: flex;
  gap: 28px;
}

.resume-title {
  color: #474747;
  font-weight: 700;
  font-size: 30px;
}

.resume-item {
  margin: 30px 0px;
}

.resume-item .title {
  color: #474747;
  font-weight: 700;
  font-size: 24px;
}

.resume-item .sub-title {
  color: #757575;
  font-weight: 600;
  font-size: 19px;
  margin: 8px 0px 10px;
}

.resume-item .description {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
}

.resume-btn {
  margin: 50px 0px 0px 0px;
  text-align: center;
}
